:root {
	/* --xb-color-primary-500: 255, 0, 0; */

	font-family: var(--xb-font-family-default);
	font-weight: var(--xb-font-weight-regular);
	font-size: var(--xb-font-size-base);
	line-height: var(--xb-line-height-default);

	color-scheme: light dark;
	color: #213547;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
