#xb-root {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 50vh;
	gap: var(--xb-spacing-4);
	padding: var(--xb-spacing-8);
	background-color: var(--xb-color-background);
	background-size: 10px 10px;
	background-image: repeating-linear-gradient(
		45deg,
		rgba(var(--xb-color-gray-200), 0.75) 0,
		rgba(var(--xb-color-gray-200), 0.75) 1px,
		rgb(var(--xb-color-background)) 0,
		rgb(var(--xb-color-background)) 50%
	);
}

@media (prefers-color-scheme: dark) {
	#xb-root {
		background-image: repeating-linear-gradient(
			45deg,
			rgba(var(--xb-color-background), 0.1) 0,
			rgba(var(--xb-color-background), 0.1) 1px,
			rgb(var(--xb-color-gray-800), 0.6) 0,
			rgb(var(--xb-color-gray-800), 0.6) 50%
		);
	}
}
